<ion-content>
  <div class="ion-justify-content-center">
    <div class="ion-text-center">{{ currentWeather?.city_name}}/{{currentWeather?.country_code}} - {{currentWeather?.state_code}}</div>
    <div class="ion-text-center">{{ currentWeather?.lon}}-{{ currentWeather?.lat}}</div>
  </div>
  <div>
    <div class="ion-float-left">
      <ion-img [src]="'https://www.weatherbit.io/static/img/icons/'+ currentWeather?.weather.icon+ '.png'"></ion-img>
    </div>
    <div class="ion-float-left">
      <ion-grid>
        <ion-row *ngFor="let item of currentWeatherDetail">
          <ion-label>{{ item.key }}: {{ item.value }}</ion-label>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
