<ion-header>
  <ion-toolbar>
    <ion-title>meteo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-toolbar>
      <ion-select (ionChange)="setLocation($event)">
        <ion-select-option *ngFor="let location of locations" [value]="location">{{location.country}}-{{location.city}}</ion-select-option>
      </ion-select>
    </ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="current">
          <ion-icon name="today"></ion-icon>
          <ion-label>Courante</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="forecast">
          <ion-icon name="cloud"></ion-icon>
          <ion-label>Forecast</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="city">
          <ion-icon name="cloud"></ion-icon>
          <ion-label>City</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-content>
