<ion-content [formGroup]="form">
  <ion-item>
    <ion-label>Ville</ion-label>
    <ion-input [formControl]="form.get('city')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Pays</ion-label>
    <ion-input [formControl]="form.get('country')"></ion-input>
  </ion-item>
  <ion-button (click)="createCity()"></ion-button>
</ion-content>
