<ion-header>
  <ion-toolbar>
    <ion-title>forecast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let day of forcast$ | async">
      <ion-img [src]="'https://www.weatherbit.io/static/img/icons/'+ day.weather.icon+ '.png'"></ion-img>
      <ion-content [fullscreen]="false">
        <div class="ion-align-items-center">{{ day.datetime }}</div>
        <div class="ion-align-items-start">{{ day.high_temp }}</div>
      </ion-content>
    </ion-item>
  </ion-list>
</ion-content>
